fastapi
uvicorn
pydantic
typing-extensions
azure-search-documents
numpy
openai
python-dotenv
azure-core
pandas
azure-storage-blob
gunicorn
azure-identity
langgraph
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
