fastapi
uvicorn
pydantic
typing-extensions
azure-search-documents
numpy
openai
python-dotenv
azure-core
pandas
azure-storage-blob
gunicorn
azure-identity
langgraph
nltk 
scikit-learn 
PyPDF2 
python-docx
odfpy
